<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910719979448-r9jtpm9e4tcg7o3tsvampo4tqcf0sifa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910719979448-r9jtpm9e4tcg7o3tsvampo4tqcf0sifa</string>
	<key>API_KEY</key>
	<string>AIzaSyA8p07oYp3Gjk04GG4xCd-JOw05Uvxzp-s</string>
	<key>GCM_SENDER_ID</key>
	<string>910719979448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admeen3581.Union-Forums</string>
	<key>PROJECT_ID</key>
	<string>unionforms-3581</string>
	<key>STORAGE_BUCKET</key>
	<string>unionforms-3581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910719979448:ios:dd690f9006bf502dd2094d</string>
</dict>
</plist>